In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pd.read_csv('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_last/005930.csv', index_col=0)

,date,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,시가총액,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전 순이익,당기순이익,자본금
0,2016-01-04,1260000,1260000,1205000,1205000,306939,375331217000,-4.37,5930,177495701085000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
1,2016-01-05,1202000,1218000,1186000,1208000,216002,260737452839,0.25,5930,177937599096000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
2,2016-01-06,1208000,1208000,1168000,1175000,366752,433569054000,-2.73,5930,173076720975000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
3,2016-01-07,1166000,1183000,1151000,1163000,282388,329335893500,-1.02,5930,171309128931000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
4,2016-01-08,1163000,1186000,1163000,1171000,257763,301860685807,0.69,5930,172487523627000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,2022-03-25,70100,70200,69600,69800,12986010,906006321000,0.00,5930,416690821990000,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11
1530,2022-03-28,69500,69900,69200,69700,12619289,878172199900,-0.14,5930,416093843735000,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11
1531,2022-03-29,70000,70300,69800,70200,13686208,958589509700,0.72,5930,419078735010000,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11
1532,2022-03-30,70300,70500,69800,69900,12670187,887514318650,-0.43,5930,417287800245000,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11
1533,2022-03-31,69900,70200,69600,69600,12510366,873212583300,-0.43,5930,415496865480000,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11

In [138]:
import OpenDartReader

api_key = '9ca2f170725d735b634acb1e71338844eaf45a5e'
dart = OpenDartReader(api_key)

In [90]:
df1 = dart.finstate(corp='140910', bsns_year=2016, reprt_code=11013)

In [91]:
df1

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,thstrm_nm,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,ord,currency,thstrm_add_amount,frmtrm_add_amount
0,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,유동자산,제 7 기1분기말,2016.03.31 현재,"35,513,384,268",제 6 기말,2015.12.31 현재,"58,436,180,344",2,KRW,NaN,NaN
1,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,비유동자산,제 7 기1분기말,2016.03.31 현재,"877,085,913",제 6 기말,2015.12.31 현재,"857,282,466",4,KRW,NaN,NaN
2,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,자산총계,제 7 기1분기말,2016.03.31 현재,"36,390,470,181",제 6 기말,2015.12.31 현재,"59,293,462,810",6,KRW,NaN,NaN
3,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,유동부채,제 7 기1분기말,2016.03.31 현재,"9,474,726,457",제 6 기말,2015.12.31 현재,"31,155,389,484",8,KRW,NaN,NaN
4,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,비유동부채,제 7 기1분기말,2016.03.31 현재,"3,069,423,494",제 6 기말,2015.12.31 현재,"3,090,251,938",10,KRW,NaN,NaN
5,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,부채총계,제 7 기1분기말,2016.03.31 현재,"12,544,149,951",제 6 기말,2015.12.31 현재,"34,245,641,422",12,KRW,NaN,NaN
6,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,자본금,제 7 기1분기말,2016.03.31 현재,"18,143,675,000",제 6 기말,2015.12.31 현재,"18,143,675,000",15,KRW,NaN,NaN
7,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,이익잉여금,제 7 기1분기말,2016.03.31 현재,"5,702,645,230",제 6 기말,2015.12.31 현재,"7,000,301,728",19,KRW,NaN,NaN
8,20160516001941,11013,2016,00860730,140910,OFS,재무제표,BS,재무상태표,자본총계,제 7 기1분기말,2016.03.31 현재,"23,846,320,230",제 6 기말,2015.12.31 현재,"25,047,821,388",22,KRW,NaN,NaN
9,20160516001941,11013,2016,00860730,140910,OFS,재무제표,IS,손익계산서,매출액,제 7 기1분기,2016.01.01 ~ 2016.03.31,"13,463,033,060",제 6 기1분기,2015.01.01 ~ 2015.03.31,"5,941,438,345",24,KRW,"13,463,033,060","5,941,438,345"
10,20160516001941,11013,2016,00860730,140910,OFS,재무제표,IS,손익계산서,영업이익,제 7 기1분기,2016.01.01 ~ 2016.03.31,"2,882,616,976",제 6 기1분기,2015.01.01 ~ 2015.03.31,"89,429,885",26,KRW,"2,882,616,976","89,429,885"
11,20160516001941,11013,2016,00860730,140910,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,제 7 기1분기,2016.01.01 ~ 2016.03.31,"2,888,531,489",제 6 기1분기,2015.01.01 ~ 2015.03.31,"112,244,502",28,KRW,"2,888,531,489","112,244,502"
12,20160516001941,11013,2016,00860730,140910,OFS,재무제표,IS,손익계산서,당기순이익,제 7 기1분기,2016.01.01 ~ 2016.03.31,"2,253,054,562",제 6 기1분기,2015.01.01 ~ 2015.03.31,"112,244,502",30,KRW,"2,253,054,562","112,244,502"

In [95]:
df_nan = pd.read_csv('c:/Users/bitcamp/Desktop/final_data/kospi재무데이터/제무제표_2/140910.csv', index_col=0)

In [98]:
df_nan.isna().sum().sum()

300

In [104]:
files = os.listdir('c:/Users/bitcamp/Desktop/final_data/미치겠다/재무데이터/')

In [190]:
sibal_li = []

for file in files:
    df_nan = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/미치겠다/재무데이터/{file}', index_col=0)
    if df_nan.isna().sum().sum() < 100:
        sibal_li.append(file[:6])
        print(file+' : '+str(df_nan.isna().sum().sum()))

000040.csv : 24
000050.csv : 6
000080.csv : 0
000100.csv : 19
000120.csv : 6
000150.csv : 0
000180.csv : 6
000210.csv : 12
000230.csv : 12
000240.csv : 14
000270.csv : 5
000300.csv : 10
000320.csv : 6
000390.csv : 0
000430.csv : 10
000480.csv : 6
000490.csv : 0
000500.csv : 16
000520.csv : 6
000590.csv : 12
000640.csv : 7
000660.csv : 6
000670.csv : 6
000680.csv : 3
000700.csv : 13
000720.csv : 12
000850.csv : 0
000860.csv : 6
000880.csv : 12
000890.csv : 0
000910.csv : 30
000950.csv : 0
000990.csv : 0
001020.csv : 0
001040.csv : 0
001060.csv : 14
001070.csv : 11
001120.csv : 7
001130.csv : 6
001210.csv : 0
001230.csv : 0
001250.csv : 6
001260.csv : 12
001380.csv : 6
001390.csv : 7
001430.csv : 8
001440.csv : 12
001460.csv : 0
001470.csv : 0
001520.csv : 0
001530.csv : 6
001560.csv : 12
001570.csv : 6
001620.csv : 6
001630.csv : 12
001740.csv : 12
001780.csv : 6
001790.csv : 4
001800.csv : 0
001820.csv : 12
001940.csv : 0
002020.csv : 0
002030.csv : 0
002070.csv : 6
002100.csv : 17
002140.csv : 6
002150.csv : 78
002170.csv : 0
002200.csv : 14
002220.csv : 0
002240.csv : 12
002310.csv : 12
002320.csv : 0
002350.csv : 6
002390.csv : 0
002410.csv : 6
002450.csv : 8
002620.csv : 43
002710.csv : 12
002720.csv : 6
002790.csv : 6
002810.csv : 6
002820.csv : 6
002840.csv : 0
002870.csv : 6
002880.csv : 10
002900.csv : 13
002920.csv : 6
002990.csv : 40
003000.csv : 0
003010.csv : 7
003030.csv : 12
003060.csv : 6
003090.csv : 34
003160.csv : 12
003200.csv : 0
003220.csv : 3
003230.csv : 6
003240.csv : 6
003280.csv : 6
003300.csv : 1
003410.csv : 0
003480.csv : 2
003490.csv : 1
003550.csv : 12
003560.csv : 28
003570.csv : 0
003620.csv : 42
003670.csv : 12
003720.csv : 67
003780.csv : 0
003850.csv : 56
003920.csv : 12
003960.csv : 1
004000.csv : 6
004020.csv : 12
004060.csv : 6
004080.csv : 6
004090.csv : 0
004100.csv : 0
004140.csv : 19
004150.csv : 8
004170.csv : 12
004250.csv : 12
004270.csv : 0
004360.csv : 2
004370.csv : 6
004430.csv : 6
004490.csv : 6
004540.csv : 0
004560.csv : 6
004690.csv : 6
004710.csv : 0
004720.csv : 13
004770.csv : 0
004800.csv : 0
004830.csv : 0
004840.csv : 17
004870.csv : 6
004890.csv : 0
004910.csv : 3
004920.csv : 6
004960.csv : 0
004970.csv : 0
004980.csv : 0
005010.csv : 3
005090.csv : 0
005250.csv : 11
005300.csv : 6
005320.csv : 14
005360.csv : 6
005380.csv : 35
005430.csv : 12
005440.csv : 0
005490.csv : 13
005610.csv : 12
005680.csv : 2
005720.csv : 5
005740.csv : 2
005750.csv : 6
005800.csv : 1
005810.csv : 27
005820.csv : 0
005850.csv : 10
005880.csv : 6
005930.csv : 6
005950.csv : 13
005960.csv : 12
006040.csv : 12
006060.csv : 12
006120.csv : 0
006200.csv : 9
006260.csv : 29
006280.csv : 6
006340.csv : 0
006360.csv : 12
006400.csv : 0
006490.csv : 12
006570.csv : 0
006650.csv : 12
006660.csv : 6
006840.csv : 12
006880.csv : 1
006890.csv : 6
006980.csv : 6
007070.csv : 12
007120.csv : 37
007160.csv : 12
007210.csv : 0
007310.csv : 0
007340.csv : 0
007460.csv : 91
007540.csv : 0
007570.csv : 32
007590.csv : 6
007610.csv : 0
007660.csv : 0
007690.csv : 6
007700.csv : 0
007810.csv : 12
007860.csv : 12
007980.csv : 0
008040.csv : 0
008250.csv : 5
008490.csv : 12
008500.csv : 18
008770.csv : 24
008930.csv : 10
008970.csv : 6
009070.csv : 12
009140.csv : 6
009150.csv : 12
009160.csv : 6
009180.csv : 10
009200.csv : 0
009270.csv : 6
009290.csv : 6
009310.csv : 12
009410.csv : 12
009420.csv : 6
009440.csv : 29
009450.csv : 12
009470.csv : 6
009540.csv : 16
009580.csv : 38
009680.csv : 12
009810.csv : 0
009830.csv : 12
009970.csv : 0
010060.csv : 0
010100.csv : 0
010120.csv : 14
010130.csv : 12
010140.csv : 6
010600.csv : 0
010620.csv : 12
010690.csv : 6
010770.csv : 42
010780.csv : 0
010950.csv : 1
010960.csv : 6
011000.csv : 12
011070.csv : 12
011090.csv : 0
011170.csv : 12
011200.csv : 12
011210.csv : 6
011230.csv : 0
011280.csv : 9
011300.csv : 6
011330.csv : 91
011390.csv : 12
011690.csv : 0
011700.csv : 12
011760.csv : 0
011780.csv : 0
011790.csv : 0
011810.csv : 29
011930.csv : 93
012030.csv : 6
012160.csv : 0
012170.csv : 52
012200.csv : 36
012330.csv : 12
012450.csv : 6
012510.csv : 6
012600.csv : 0
012610.csv : 6
012630.csv : 0
012750.csv : 12
012800.csv : 11
013000.csv : 97
013360.csv : 0
013520.csv : 11
013570.csv : 0
013580.csv : 0
013870.csv : 0
014130.csv : 0
014280.csv : 6
014440.csv : 0
014530.csv : 0
014580.csv : 0
014680.csv : 12
014820.csv : 2
014830.csv : 0
014910.csv : 6
014990.csv : 12
015230.csv : 6
015260.csv : 78
015360.csv : 0
015540.csv : 0
015760.csv : 0
015890.csv : 0
016380.csv : 12
016450.csv : 9
016590.csv : 12
016710.csv : 6
016880.csv : 12
017040.csv : 0
017180.csv : 6
017370.csv : 0
017390.csv : 12
017550.csv : 12
017670.csv : 12
017800.csv : 12
017810.csv : 12
017900.csv : 12
017940.csv : 16
017960.csv : 0
018260.csv : 0
018670.csv : 25
018880.csv : 1
019170.csv : 6
019180.csv : 10
019440.csv : 6
019680.csv : 12
020000.csv : 30
020150.csv : 0
020560.csv : 6
021050.csv : 0
021240.csv : 6
023150.csv : 0
023530.csv : 12
023590.csv : 5
023800.csv : 0
023810.csv : 14
024070.csv : 6
024720.csv : 0
024890.csv : 0
024900.csv : 0
025000.csv : 48
025530.csv : 0
025540.csv : 6
025560.csv : 0
025620.csv : 71
025750.csv : 6
026960.csv : 4
027410.csv : 6
027740.csv : 0
028050.csv : 15
028100.csv : 6
028260.csv : 9
028670.csv : 12
029460.csv : 6
029530.csv : 0
030000.csv : 13
030200.csv : 16
030720.csv : 12
030790.csv : 10
031430.csv : 6
031440.csv : 3
031820.csv : 73
032350.csv : 6
032560.csv : 6
032640.csv : 24
033180.csv : 8
033240.csv : 0
033530.csv : 0
033780.csv : 0
033920.csv : 12
034020.csv : 6
034120.csv : 2
034220.csv : 6
034310.csv : 26
034730.csv : 14
035000.csv : 12
035150.csv : 16
035250.csv : 18
035420.csv : 6
035720.csv : 34
036420.csv : 12
036460.csv : 38
036530.csv : 0
036570.csv : 12
036580.csv : 12
037270.csv : 12
039130.csv : 24
039570.csv : 6
041650.csv : 6
042660.csv : 12
042670.csv : 0
042700.csv : 9
044380.csv : 42
044450.csv : 0
044820.csv : 16
047040.csv : 6
047050.csv : 12
047400.csv : 7
047810.csv : 0
049770.csv : 12
049800.csv : 0
051600.csv : 6
051900.csv : 6
051910.csv : 12
053210.csv : 26
053690.csv : 0
057050.csv : 12
058430.csv : 6
058650.csv : 12
058730.csv : 2
058850.csv : 6
060980.csv : 12
064350.csv : 0
064960.csv : 0
066570.csv : 12
067830.csv : 78
068270.csv : 0
068290.csv : 6
068400.csv : 61
069260.csv : 6
069620.csv : 12
069640.csv : 12
069960.csv : 31
071090.csv : 91
071950.csv : 6
071970.csv : 0
072130.csv : 6
072710.csv : 6
073240.csv : 6
074610.csv : 0
075180.csv : 12
075580.csv : 0
077500.csv : 6
077970.csv : 45
078000.csv : 6
078520.csv : 2
079160.csv : 6
079430.csv : 7
079550.csv : 65
081000.csv : 14
081660.csv : 17
082740.csv : 12
084010.csv : 0
084670.csv : 0
084690.csv : 6
085310.csv : 0
086280.csv : 12
088790.csv : 12
089470.csv : 6
089590.csv : 42
090080.csv : 6
090350.csv : 6
090370.csv : 0
090430.csv : 6
091090.csv : 0
092200.csv : 12
092220.csv : 6
092230.csv : 14
093050.csv : 12
093370.csv : 0
094280.csv : 0
095570.csv : 6
095720.csv : 0
096760.csv : 22
096770.csv : 20
097230.csv : 6
097520.csv : 12
097950.csv : 12
100220.csv : 6
100250.csv : 0
101530.csv : 2
102260.csv : 22
102280.csv : 6
102460.csv : 80
103590.csv : 10
105630.csv : 0
105840.csv : 0
108670.csv : 0
109070.csv : 45
111770.csv : 0
112610.csv : 6
115390.csv : 0
119650.csv : 14
120110.csv : 12
122900.csv : 12
123690.csv : 12
123700.csv : 0
126560.csv : 8
128820.csv : 7
128940.csv : 12
129260.csv : 0
130660.csv : 12
136490.csv : 12
138490.csv : 0
139480.csv : 19
145210.csv : 16
145990.csv : 12
155660.csv : 6
155900.csv : 9
161000.csv : 6
161390.csv : 12
163560.csv : 15
170900.csv : 6
180640.csv : 6
183190.csv : 0
185750.csv : 91
192080.csv : 33
192400.csv : 8
192820.csv : 16
194370.csv : 6
200880.csv : 11
204320.csv : 25
210540.csv : 0
210980.csv : 16
213500.csv : 14
214320.csv : 12
214330.csv : 12
214420.csv : 0
226320.csv : 6
227840.csv : 42
900140.csv : 14

In [178]:
df1 = dart.finstate(corp='035510', bsns_year=2016, reprt_code=11012)
df1

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,thstrm_nm,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,ord,currency,thstrm_add_amount,frmtrm_add_amount
0,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,유동자산,제 20 기반기말,2016.06.30 현재,"132,206,126,987",제 19 기말,2015.12.31 현재,"139,002,574,572",2,KRW,NaN,NaN
1,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,비유동자산,제 20 기반기말,2016.06.30 현재,"81,583,093,151",제 19 기말,2015.12.31 현재,"78,269,705,344",4,KRW,NaN,NaN
2,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,자산총계,제 20 기반기말,2016.06.30 현재,"213,789,220,138",제 19 기말,2015.12.31 현재,"217,272,279,916",6,KRW,NaN,NaN
3,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,유동부채,제 20 기반기말,2016.06.30 현재,"43,198,045,051",제 19 기말,2015.12.31 현재,"47,159,063,494",8,KRW,NaN,NaN
4,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,비유동부채,제 20 기반기말,2016.06.30 현재,"6,345,651,538",제 19 기말,2015.12.31 현재,"3,948,485,953",10,KRW,NaN,NaN
5,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,부채총계,제 20 기반기말,2016.06.30 현재,"49,543,696,589",제 19 기말,2015.12.31 현재,"51,107,549,447",12,KRW,NaN,NaN
6,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,자본금,제 20 기반기말,2016.06.30 현재,"8,600,000,000",제 19 기말,2015.12.31 현재,"8,600,000,000",15,KRW,NaN,NaN
7,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,이익잉여금,제 20 기반기말,2016.06.30 현재,"150,935,512,571",제 19 기말,2015.12.31 현재,"152,483,874,141",19,KRW,NaN,NaN
8,20160816002027,11012,2016,00219486,035510,OFS,재무제표,BS,재무상태표,자본총계,제 20 기반기말,2016.06.30 현재,"164,245,523,549",제 19 기말,2015.12.31 현재,"166,164,730,469",22,KRW,NaN,NaN
9,20160816002027,11012,2016,00219486,035510,OFS,재무제표,IS,손익계산서,매출액,제 20 기반기,2016.01.01 ~ 2016.06.30,"79,543,531,999",제 19 기반기,2015.01.01 ~ 2015.06.30,"62,781,143,812",24,KRW,"150,887,010,575","127,586,748,885"
10,20160816002027,11012,2016,00219486,035510,OFS,재무제표,IS,손익계산서,영업이익,제 20 기반기,2016.01.01 ~ 2016.06.30,"2,184,084,050",제 19 기반기,2015.01.01 ~ 2015.06.30,"4,437,520,444",26,KRW,"4,209,172,251","8,989,363,034"
11,20160816002027,11012,2016,00219486,035510,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,제 20 기반기,2016.01.01 ~ 2016.06.30,"364,166,225",제 19 기반기,2015.01.01 ~ 2015.06.30,"4,821,547,510",28,KRW,"1,200,536,279","9,754,776,210"
12,20160816002027,11012,2016,00219486,035510,OFS,재무제표,IS,손익계산서,당기순이익,제 20 기반기,2016.01.01 ~ 2016.06.30,"-109,757,104",제 19 기반기,2015.01.01 ~ 2015.06.30,"3,782,849,743",30,KRW,"171,638,430","7,630,172,175"

In [124]:
df1 = df1[df1['fs_nm'] == '연결재무제표']
df_1 = df1[['account_nm','sj_div','thstrm_amount']]
df_1

Empty DataFrame
Columns: [account_nm, sj_div, thstrm_amount]
Index: []

In [191]:
len(sibal_li)

511

In [193]:
sibal_li

['000040',
 '000050',
 '000080',
 '000100',
 '000120',
 '000150',
 '000180',
 '000210',
 '000230',
 '000240',
 '000270',
 '000300',
 '000320',
 '000390',
 '000430',
 '000480',
 '000490',
 '000500',
 '000520',
 '000590',
 '000640',
 '000660',
 '000670',
 '000680',
 '000700',
 '000720',
 '000850',
 '000860',
 '000880',
 '000890',
 '000910',
 '000950',
 '000990',
 '001020',
 '001040',
 '001060',
 '001070',
 '001120',
 '001130',
 '001210',
 '001230',
 '001250',
 '001260',
 '001380',
 '001390',
 '001430',
 '001440',
 '001460',
 '001470',
 '001520',
 '001530',
 '001560',
 '001570',
 '001620',
 '001630',
 '001740',
 '001780',
 '001790',
 '001800',
 '001820',
 '001940',
 '002020',
 '002030',
 '002070',
 '002100',
 '002140',
 '002150',
 '002170',
 '002200',
 '002220',
 '002240',
 '002310',
 '002320',
 '002350',
 '002390',
 '002410',
 '002450',
 '002620',
 '002710',
 '002720',
 '002790',
 '002810',
 '002820',
 '002840',
 '002870',
 '002880',
 '002900',
 '002920',
 '002990',
 '003000',
 '003010',
 '003030',
 '003060',
 '003090',
 '003160',
 '003200',
 '003220',
 '003230',
 '003240',
 '003280',
 '003300',
 '003410',
 '003480',
 '003490',
 '003550',
 '003560',
 '003570',
 '003620',
 '003670',
 '003720',
 '003780',
 '003850',
 '003920',
 '003960',
 '004000',
 '004020',
 '004060',
 '004080',
 '004090',
 '004100',
 '004140',
 '004150',
 '004170',
 '004250',
 '004270',
 '004360',
 '004370',
 '004430',
 '004490',
 '004540',
 '004560',
 '004690',
 '004710',
 '004720',
 '004770',
 '004800',
 '004830',
 '004840',
 '004870',
 '004890',
 '004910',
 '004920',
 '004960',
 '004970',
 '004980',
 '005010',
 '005090',
 '005250',
 '005300',
 '005320',
 '005360',
 '005380',
 '005430',
 '005440',
 '005490',
 '005610',
 '005680',
 '005720',
 '005740',
 '005750',
 '005800',
 '005810',
 '005820',
 '005850',
 '005880',
 '005930',
 '005950',
 '005960',
 '006040',
 '006060',
 '006120',
 '006200',
 '006260',
 '006280',
 '006340',
 '006360',
 '006400',
 '006490',
 '006570',
 '006650',
 '006660',
 '006840',
 '006880',
 '006890',
 '006980',
 '007070',
 '007120',
 '007160',
 '007210',
 '007310',
 '007340',
 '007460',
 '007540',
 '007570',
 '007590',
 '007610',
 '007660',
 '007690',
 '007700',
 '007810',
 '007860',
 '007980',
 '008040',
 '008250',
 '008490',
 '008500',
 '008770',
 '008930',
 '008970',
 '009070',
 '009140',
 '009150',
 '009160',
 '009180',
 '009200',
 '009270',
 '009290',
 '009310',
 '009410',
 '009420',
 '009440',
 '009450',
 '009470',
 '009540',
 '009580',
 '009680',
 '009810',
 '009830',
 '009970',
 '010060',
 '010100',
 '010120',
 '010130',
 '010140',
 '010600',
 '010620',
 '010690',
 '010770',
 '010780',
 '010950',
 '010960',
 '011000',
 '011070',
 '011090',
 '011170',
 '011200',
 '011210',
 '011230',
 '011280',
 '011300',
 '011330',
 '011390',
 '011690',
 '011700',
 '011760',
 '011780',
 '011790',
 '011810',
 '011930',
 '012030',
 '012160',
 '012170',
 '012200',
 '012330',
 '012450',
 '012510',
 '012600',
 '012610',
 '012630',
 '012750',
 '012800',
 '013000',
 '013360',
 '013520',
 '013570',
 '013580',
 '013870',
 '014130',
 '014280',
 '014440',
 '014530',
 '014580',
 '014680',
 '014820',
 '014830',
 '014910',
 '014990',
 '015230',
 '015260',
 '015360',
 '015540',
 '015760',
 '015890',
 '016380',
 '016450',
 '016590',
 '016710',
 '016880',
 '017040',
 '017180',
 '017370',
 '017390',
 '017550',
 '017670',
 '017800',
 '017810',
 '017900',
 '017940',
 '017960',
 '018260',
 '018670',
 '018880',
 '019170',
 '019180',
 '019440',
 '019680',
 '020000',
 '020150',
 '020560',
 '021050',
 '021240',
 '023150',
 '023530',
 '023590',
 '023800',
 '023810',
 '024070',
 '024720',
 '024890',
 '024900',
 '025000',
 '025530',
 '025540',
 '025560',
 '025620',
 '025750',
 '026960',
 '027410',
 '027740',
 '028050',
 '028100',
 '028260',
 '028670',
 '029460',
 '029530',
 '030000',
 '030200',
 '030720',
 '030790',
 '031430',
 '031440',
 '031820',
 '032350',
 '032560',
 '032640',
 '033180',
 '033240',
 '033530',
 '033780',
 '033920',
 '034020',
 '034120',
 '034220',
 '034310',
 '034730',
 '035000',
 '035150',
 '035250',
 '035420',
 '035720',
 '036420',
 '036460',
 '036530',
 '036570',
 '036580',
 '037270',
 '039130',
 '039570',
 '041650',
 '042660',
 '042670',
 '042700',
 '044380',
 '044450',
 '044820',
 '047040',
 '047050',
 '047400',
 '047810',
 '049770',
 '049800',
 '051600',
 '051900',
 '051910',
 '053210',
 '053690',
 '057050',
 '058430',
 '058650',
 '058730',
 '058850',
 '060980',
 '064350',
 '064960',
 '066570',
 '067830',
 '068270',
 '068290',
 '068400',
 '069260',
 '069620',
 '069640',
 '069960',
 '071090',
 '071950',
 '071970',
 '072130',
 '072710',
 '073240',
 '074610',
 '075180',
 '075580',
 '077500',
 '077970',
 '078000',
 '078520',
 '079160',
 '079430',
 '079550',
 '081000',
 '081660',
 '082740',
 '084010',
 '084670',
 '084690',
 '085310',
 '086280',
 '088790',
 '089470',
 '089590',
 '090080',
 '090350',
 '090370',
 '090430',
 '091090',
 '092200',
 '092220',
 '092230',
 '093050',
 '093370',
 '094280',
 '095570',
 '095720',
 '096760',
 '096770',
 '097230',
 '097520',
 '097950',
 '100220',
 '100250',
 '101530',
 '102260',
 '102280',
 '102460',
 '103590',
 '105630',
 '105840',
 '108670',
 '109070',
 '111770',
 '112610',
 '115390',
 '119650',
 '120110',
 '122900',
 '123690',
 '123700',
 '126560',
 '128820',
 '128940',
 '129260',
 '130660',
 '136490',
 '138490',
 '139480',
 '145210',
 '145990',
 '155660',
 '155900',
 '161000',
 '161390',
 '163560',
 '170900',
 '180640',
 '183190',
 '185750',
 '192080',
 '192400',
 '192820',
 '194370',
 '200880',
 '204320',
 '210540',
 '210980',
 '213500',
 '214320',
 '214330',
 '214420',
 '226320',
 '227840',
 '900140']

In [152]:
fs_nm = list(df1['fs_nm'].values)

In [156]:
fs_nm in '재무제표'

TypeError: 'in <string>' requires string as left operand, not list

In [184]:
pd.read_csv('c:/Users/bitcamp/Desktop/final_data/미치겠다/재무데이터/001360.csv')

,Unnamed: 0,account_nm,2016-1,2016-2,2016-3,2016-4,2017-1,2017-2,2017-3,2017-4,...,2019-4,2020-1,2020-2,2020-3,2020-4,2021-1,2021-2,2021-3,2021-4,2022-1
0,0,유동자산,64706486916,48954474798,80013950181,47711452766,44792262495,45830318703,42757646379,60978260818,...,6.139377e+10,7.729498e+10,7.398372e+10,7.244548e+10,6.531202e+10,9.367773e+10,9.172286e+10,7.908760e+10,8.538995e+10,82389109989
1,1,유동자산,64706486916,48954474798,80013950181,47711452766,44792262495,45830318703,42757646379,60978260818,...,6.139377e+10,7.729498e+10,7.398372e+10,7.244548e+10,6.531202e+10,9.367773e+10,9.172286e+10,7.908760e+10,8.538995e+10,82389109989
2,2,유동자산,64706486916,48954474798,80013950181,47711452766,44792262495,45830318703,42757646379,60978260818,...,6.139377e+10,7.729498e+10,7.398372e+10,7.244548e+10,6.531202e+10,9.367773e+10,9.172286e+10,7.908760e+10,8.538995e+10,82389109989
3,3,유동자산,64706486916,48954474798,80013950181,47711452766,44792262495,45830318703,42757646379,60978260818,...,6.139377e+10,7.729498e+10,7.398372e+10,7.244548e+10,6.531202e+10,9.367773e+10,9.172286e+10,7.908760e+10,8.538995e+10,82389109989
4,4,유동자산,64706486916,48954474798,80013950181,47711452766,44792262495,45830318703,42757646379,60978260818,...,6.139377e+10,7.729498e+10,7.398372e+10,7.244548e+10,6.531202e+10,9.367773e+10,9.172286e+10,7.908760e+10,8.538995e+10,82389109989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393211,393211,자본금,14341913000,15356785000,19856785000,19856785000,19856785000,19856785000,19856785000,20713440500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.358104e+10,33581039500
393212,393212,자본금,14341913000,15356785000,19856785000,19856785000,19856785000,19856785000,19856785000,20713440500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.358104e+10,33581039500
393213,393213,자본금,14341913000,15356785000,19856785000,19856785000,19856785000,19856785000,19856785000,20713440500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.358104e+10,33581039500
393214,393214,자본금,14341913000,15356785000,19856785000,19856785000,19856785000,19856785000,19856785000,20713440500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.358104e+10,33581039500
393215,393215,자본금,14341913000,15356785000,19856785000,19856785000,19856785000,19856785000,19856785000,20713440500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.358104e+10,33581039500

In [192]:
import shutil

In [194]:
for file in sibal_li:
    shutil.copy(f'c:/Users/bitcamp/Desktop/final_data/미치겠다/재무데이터/{file}.csv', f'c:/Users/bitcamp/Desktop/final_data/미치겠다/재무데이터_511/{file}.csv')

# 컬럼맞추기

In [195]:
files = os.listdir('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511/')

In [196]:
files

['000040.csv',
 '000050.csv',
 '000080.csv',
 '000100.csv',
 '000120.csv',
 '000150.csv',
 '000180.csv',
 '000210.csv',
 '000230.csv',
 '000240.csv',
 '000270.csv',
 '000300.csv',
 '000320.csv',
 '000390.csv',
 '000430.csv',
 '000480.csv',
 '000490.csv',
 '000500.csv',
 '000520.csv',
 '000590.csv',
 '000640.csv',
 '000660.csv',
 '000670.csv',
 '000680.csv',
 '000700.csv',
 '000720.csv',
 '000850.csv',
 '000860.csv',
 '000880.csv',
 '000890.csv',
 '000910.csv',
 '000950.csv',
 '000990.csv',
 '001020.csv',
 '001040.csv',
 '001060.csv',
 '001070.csv',
 '001120.csv',
 '001130.csv',
 '001210.csv',
 '001230.csv',
 '001250.csv',
 '001260.csv',
 '001380.csv',
 '001390.csv',
 '001430.csv',
 '001440.csv',
 '001460.csv',
 '001470.csv',
 '001520.csv',
 '001530.csv',
 '001560.csv',
 '001570.csv',
 '001620.csv',
 '001630.csv',
 '001740.csv',
 '001780.csv',
 '001790.csv',
 '001800.csv',
 '001820.csv',
 '001940.csv',
 '002020.csv',
 '002030.csv',
 '002070.csv',
 '002100.csv',
 '002140.csv',
 '002150.csv',
 '002170.csv',
 '002200.csv',
 '002220.csv',
 '002240.csv',
 '002310.csv',
 '002320.csv',
 '002350.csv',
 '002390.csv',
 '002410.csv',
 '002450.csv',
 '002620.csv',
 '002710.csv',
 '002720.csv',
 '002790.csv',
 '002810.csv',
 '002820.csv',
 '002840.csv',
 '002870.csv',
 '002880.csv',
 '002900.csv',
 '002920.csv',
 '002990.csv',
 '003000.csv',
 '003010.csv',
 '003030.csv',
 '003060.csv',
 '003090.csv',
 '003160.csv',
 '003200.csv',
 '003220.csv',
 '003230.csv',
 '003240.csv',
 '003280.csv',
 '003300.csv',
 '003410.csv',
 '003480.csv',
 '003490.csv',
 '003550.csv',
 '003560.csv',
 '003570.csv',
 '003620.csv',
 '003670.csv',
 '003720.csv',
 '003780.csv',
 '003850.csv',
 '003920.csv',
 '003960.csv',
 '004000.csv',
 '004020.csv',
 '004060.csv',
 '004080.csv',
 '004090.csv',
 '004100.csv',
 '004140.csv',
 '004150.csv',
 '004170.csv',
 '004250.csv',
 '004270.csv',
 '004360.csv',
 '004370.csv',
 '004430.csv',
 '004490.csv',
 '004540.csv',
 '004560.csv',
 '004690.csv',
 '004710.csv',
 '004720.csv',
 '004770.csv',
 '004800.csv',
 '004830.csv',
 '004840.csv',
 '004870.csv',
 '004890.csv',
 '004910.csv',
 '004920.csv',
 '004960.csv',
 '004970.csv',
 '004980.csv',
 '005010.csv',
 '005090.csv',
 '005250.csv',
 '005300.csv',
 '005320.csv',
 '005360.csv',
 '005380.csv',
 '005430.csv',
 '005440.csv',
 '005490.csv',
 '005610.csv',
 '005680.csv',
 '005720.csv',
 '005740.csv',
 '005750.csv',
 '005800.csv',
 '005810.csv',
 '005820.csv',
 '005850.csv',
 '005880.csv',
 '005930.csv',
 '005950.csv',
 '005960.csv',
 '006040.csv',
 '006060.csv',
 '006120.csv',
 '006200.csv',
 '006260.csv',
 '006280.csv',
 '006340.csv',
 '006360.csv',
 '006400.csv',
 '006490.csv',
 '006570.csv',
 '006650.csv',
 '006660.csv',
 '006840.csv',
 '006880.csv',
 '006890.csv',
 '006980.csv',
 '007070.csv',
 '007120.csv',
 '007160.csv',
 '007210.csv',
 '007310.csv',
 '007340.csv',
 '007460.csv',
 '007540.csv',
 '007570.csv',
 '007590.csv',
 '007610.csv',
 '007660.csv',
 '007690.csv',
 '007700.csv',
 '007810.csv',
 '007860.csv',
 '007980.csv',
 '008040.csv',
 '008250.csv',
 '008490.csv',
 '008500.csv',
 '008770.csv',
 '008930.csv',
 '008970.csv',
 '009070.csv',
 '009140.csv',
 '009150.csv',
 '009160.csv',
 '009180.csv',
 '009200.csv',
 '009270.csv',
 '009290.csv',
 '009310.csv',
 '009410.csv',
 '009420.csv',
 '009440.csv',
 '009450.csv',
 '009470.csv',
 '009540.csv',
 '009580.csv',
 '009680.csv',
 '009810.csv',
 '009830.csv',
 '009970.csv',
 '010060.csv',
 '010100.csv',
 '010120.csv',
 '010130.csv',
 '010140.csv',
 '010600.csv',
 '010620.csv',
 '010690.csv',
 '010770.csv',
 '010780.csv',
 '010950.csv',
 '010960.csv',
 '011000.csv',
 '011070.csv',
 '011090.csv',
 '011170.csv',
 '011200.csv',
 '011210.csv',
 '011230.csv',
 '011280.csv',
 '011300.csv',
 '011330.csv',
 '011390.csv',
 '011690.csv',
 '011700.csv',
 '011760.csv',
 '011780.csv',
 '011790.csv',
 '011810.csv',
 '011930.csv',
 '012030.csv',
 '012160.csv',
 '012170.csv',
 '012200.csv',
 '012330.csv',
 '012450.csv',
 '012510.csv',
 '012600.csv',
 '012610.csv',
 '012630.csv',
 '012750.csv',
 '012800.csv',
 '013000.csv',
 '013360.csv',
 '013520.csv',
 '013570.csv',
 '013580.csv',
 '013870.csv',
 '014130.csv',
 '014280.csv',
 '014440.csv',
 '014530.csv',
 '014580.csv',
 '014680.csv',
 '014820.csv',
 '014830.csv',
 '014910.csv',
 '014990.csv',
 '015230.csv',
 '015260.csv',
 '015360.csv',
 '015540.csv',
 '015760.csv',
 '015890.csv',
 '016380.csv',
 '016450.csv',
 '016590.csv',
 '016710.csv',
 '016880.csv',
 '017040.csv',
 '017180.csv',
 '017370.csv',
 '017390.csv',
 '017550.csv',
 '017670.csv',
 '017800.csv',
 '017810.csv',
 '017900.csv',
 '017940.csv',
 '017960.csv',
 '018260.csv',
 '018670.csv',
 '018880.csv',
 '019170.csv',
 '019180.csv',
 '019440.csv',
 '019680.csv',
 '020000.csv',
 '020150.csv',
 '020560.csv',
 '021050.csv',
 '021240.csv',
 '023150.csv',
 '023530.csv',
 '023590.csv',
 '023800.csv',
 '023810.csv',
 '024070.csv',
 '024720.csv',
 '024890.csv',
 '024900.csv',
 '025000.csv',
 '025530.csv',
 '025540.csv',
 '025560.csv',
 '025620.csv',
 '025750.csv',
 '026960.csv',
 '027410.csv',
 '027740.csv',
 '028050.csv',
 '028100.csv',
 '028260.csv',
 '028670.csv',
 '029460.csv',
 '029530.csv',
 '030000.csv',
 '030200.csv',
 '030720.csv',
 '030790.csv',
 '031430.csv',
 '031440.csv',
 '031820.csv',
 '032350.csv',
 '032560.csv',
 '032640.csv',
 '033180.csv',
 '033240.csv',
 '033530.csv',
 '033780.csv',
 '033920.csv',
 '034020.csv',
 '034120.csv',
 '034220.csv',
 '034310.csv',
 '034730.csv',
 '035000.csv',
 '035150.csv',
 '035250.csv',
 '035420.csv',
 '035720.csv',
 '036420.csv',
 '036460.csv',
 '036530.csv',
 '036570.csv',
 '036580.csv',
 '037270.csv',
 '039130.csv',
 '039570.csv',
 '041650.csv',
 '042660.csv',
 '042670.csv',
 '042700.csv',
 '044380.csv',
 '044450.csv',
 '044820.csv',
 '047040.csv',
 '047050.csv',
 '047400.csv',
 '047810.csv',
 '049770.csv',
 '049800.csv',
 '051600.csv',
 '051900.csv',
 '051910.csv',
 '053210.csv',
 '053690.csv',
 '057050.csv',
 '058430.csv',
 '058650.csv',
 '058730.csv',
 '058850.csv',
 '060980.csv',
 '064350.csv',
 '064960.csv',
 '066570.csv',
 '067830.csv',
 '068270.csv',
 '068290.csv',
 '068400.csv',
 '069260.csv',
 '069620.csv',
 '069640.csv',
 '069960.csv',
 '071090.csv',
 '071950.csv',
 '071970.csv',
 '072130.csv',
 '072710.csv',
 '073240.csv',
 '074610.csv',
 '075180.csv',
 '075580.csv',
 '077500.csv',
 '077970.csv',
 '078000.csv',
 '078520.csv',
 '079160.csv',
 '079430.csv',
 '079550.csv',
 '081000.csv',
 '081660.csv',
 '082740.csv',
 '084010.csv',
 '084670.csv',
 '084690.csv',
 '085310.csv',
 '086280.csv',
 '088790.csv',
 '089470.csv',
 '089590.csv',
 '090080.csv',
 '090350.csv',
 '090370.csv',
 '090430.csv',
 '091090.csv',
 '092200.csv',
 '092220.csv',
 '092230.csv',
 '093050.csv',
 '093370.csv',
 '094280.csv',
 '095570.csv',
 '095720.csv',
 '096760.csv',
 '096770.csv',
 '097230.csv',
 '097520.csv',
 '097950.csv',
 '100220.csv',
 '100250.csv',
 '101530.csv',
 '102260.csv',
 '102280.csv',
 '102460.csv',
 '103590.csv',
 '105630.csv',
 '105840.csv',
 '108670.csv',
 '109070.csv',
 '111770.csv',
 '112610.csv',
 '115390.csv',
 '119650.csv',
 '120110.csv',
 '122900.csv',
 '123690.csv',
 '123700.csv',
 '126560.csv',
 '128820.csv',
 '128940.csv',
 '129260.csv',
 '130660.csv',
 '136490.csv',
 '138490.csv',
 '139480.csv',
 '145210.csv',
 '145990.csv',
 '155660.csv',
 '155900.csv',
 '161000.csv',
 '161390.csv',
 '163560.csv',
 '170900.csv',
 '180640.csv',
 '183190.csv',
 '185750.csv',
 '192080.csv',
 '192400.csv',
 '192820.csv',
 '194370.csv',
 '200880.csv',
 '204320.csv',
 '210540.csv',
 '210980.csv',
 '213500.csv',
 '214320.csv',
 '214330.csv',
 '214420.csv',
 '226320.csv',
 '227840.csv',
 '900140.csv']

In [198]:
jebal_li = []
for file in files:
    df = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511/{file}')
    if len(df.columns) != 34:
        jebal_li.append(file)
        print(file+' : '+str(len(df.columns)))

000100.csv : 33
000270.csv : 33
002390.csv : 33
008500.csv : 33
014280.csv : 33
085310.csv : 33
155900.csv : 28
204320.csv : 33
900140.csv : 28

In [199]:
df_005930 = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511/005930.csv')
df_005930.columns

Index(['Unnamed: 0', 'date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률',
       '종목명', '시가총액', '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV',
       'DPS', 'month', 'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채',
       '부채총계', '이익잉여금', '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금'],
      dtype='object')

In [200]:
len(jebal_li)

9

In [207]:
df_000100 = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511/900140.csv')
df_000100.columns

Index(['Unnamed: 0', 'date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률',
       '종목명', '시가총액', '상장주식수', '수정종가', 'month', 'quarter', '유동자산', '비유동자산',
       '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금', '자본총계', '매출액', '영업이익',
       '법인세차감전 순이익', '당기순이익', '자본금'],
      dtype='object')

In [203]:
jebal_li

['000100.csv',
 '000270.csv',
 '002390.csv',
 '008500.csv',
 '014280.csv',
 '085310.csv',
 '155900.csv',
 '204320.csv',
 '900140.csv']

In [40]:
df_000100['자본금'] = np.nan

In [43]:
df_000100

,Unnamed: 0,date,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전 순이익,당기순이익,자본금
0,0,2016-01-04,276000,282500,271500,272000,59355,16332957500,-0.18,100,...,3.059520e+11,2.220467e+11,5.279987e+11,1303816212235,1.395241e+12,2.764778e+11,1.990684e+10,6.575533e+10,5.127185e+10,NaN
1,1,2016-01-05,270500,278000,270000,273500,36400,9944486500,0.55,100,...,3.059520e+11,2.220467e+11,5.279987e+11,1303816212235,1.395241e+12,2.764778e+11,1.990684e+10,6.575533e+10,5.127185e+10,NaN
2,2,2016-01-06,274000,281500,272000,281000,68150,19073944000,2.74,100,...,3.059520e+11,2.220467e+11,5.279987e+11,1303816212235,1.395241e+12,2.764778e+11,1.990684e+10,6.575533e+10,5.127185e+10,NaN
3,3,2016-01-07,281500,293000,281500,293000,57358,16616521000,4.27,100,...,3.059520e+11,2.220467e+11,5.279987e+11,1303816212235,1.395241e+12,2.764778e+11,1.990684e+10,6.575533e+10,5.127185e+10,NaN
4,4,2016-01-08,290000,304000,286500,304000,58165,17371285500,3.75,100,...,3.059520e+11,2.220467e+11,5.279987e+11,1303816212235,1.395241e+12,2.764778e+11,1.990684e+10,6.575533e+10,5.127185e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,1529,2022-03-25,58500,59100,58300,58900,118649,6971863400,0.17,100,...,4.784280e+11,9.106262e+10,5.694907e+11,1451222929277,1.911604e+12,4.108533e+11,6.101961e+09,2.831803e+10,1.606914e+10,NaN
1530,1530,2022-03-28,58800,59200,58400,59100,119838,7059606300,0.34,100,...,4.784280e+11,9.106262e+10,5.694907e+11,1451222929277,1.911604e+12,4.108533e+11,6.101961e+09,2.831803e+10,1.606914e+10,NaN
1531,1531,2022-03-29,59300,59500,58800,58900,111248,6579269200,-0.34,100,...,4.784280e+11,9.106262e+10,5.694907e+11,1451222929277,1.911604e+12,4.108533e+11,6.101961e+09,2.831803e+10,1.606914e+10,NaN
1532,1532,2022-03-30,59000,59300,58600,59000,118236,6975784800,0.17,100,...,4.784280e+11,9.106262e+10,5.694907e+11,1451222929277,1.911604e+12,4.108533e+11,6.101961e+09,2.831803e+10,1.606914e+10,NaN
1533,1533,2022-03-31,59000,59400,58300,58400,187687,11020612000,-1.02,100,...,4.784280e+11,9.106262e+10,5.694907e+11,1451222929277,1.911604e+12,4.108533e+11,6.101961e+09,2.831803e+10,1.606914e+10,NaN

In [204]:
# 자본금 추가
for je in jebal_li[:]:
    df = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511/{je}', index_col=0)
    df['자본금'] = np.nan
    df.to_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/{je}')

In [209]:
files = os.listdir('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/')
jebal_li = []
for file in files:
    df = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/{file}')
    if len(df.columns) != 34:
        jebal_li.append(file)
        print(file+' : '+str(len(df.columns)))

155900.csv : 28
900140.csv : 28

In [211]:
df_900140 = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/900140.csv')
df_900140.columns

Index(['Unnamed: 0', 'date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률',
       '종목명', '시가총액', '상장주식수', '수정종가', 'month', 'quarter', '유동자산', '비유동자산',
       '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금', '자본총계', '매출액', '영업이익',
       '법인세차감전 순이익', '당기순이익', '자본금'],
      dtype='object')

In [212]:
len(df_900140.columns)  # 'BPS', 'PER', 'PBR', 'EPS', 'DIV','DPS'

28

In [213]:
# 'BPS', 'PER', 'PBR', 'EPS', 'DIV','DPS' 추가
for je in jebal_li[:]:
    df = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511/{je}', index_col=0)
    df['BPS'] = np.nan
    df['PER'] = np.nan
    df['PBR'] = np.nan
    df['EPS'] = np.nan
    df['DIV'] = np.nan
    df['DPS'] = np.nan
    df.to_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/{je}')

In [214]:
files = os.listdir('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/')
jebal_li = []
for file in files:
    df = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/{file}')
    if len(df.columns) != 34:
        jebal_li.append(file)
        print(file+' : '+str(len(df.columns)))

In [216]:
len(jebal_li)

0

In [222]:
df = pd.read_csv('C:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/005930.csv', index_col=0)

In [223]:
df.columns

Index(['date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액',
       '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS', 'month',
       'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
       '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금'],
      dtype='object')

In [224]:
len(df.columns)

33

In [225]:
df.head(2)

,date,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,시가총액,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전 순이익,당기순이익,자본금
0,2016-01-04,1260000,1260000,1205000,1205000,306939,375331217000,-4.37,5930,177495701085000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
1,2016-01-05,1202000,1218000,1186000,1208000,216002,260737452839,0.25,5930,177937599096000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN

# 컬럼이름 바꾸기

In [253]:
stock_df = pd.read_csv('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/005930.csv', index_col=0)
stock_df.head(2)

,date,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,시가총액,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전 순이익,당기순이익,자본금
0,2016-01-04,1260000,1260000,1205000,1205000,306939,375331217000,-4.37,5930,177495701085000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
1,2016-01-05,1202000,1218000,1186000,1208000,216002,260737452839,0.25,5930,177937599096000,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN

In [254]:
stock_df.columns

Index(['date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액',
       '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS', 'month',
       'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
       '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금'],
      dtype='object')

In [255]:
test_df = pd.read_csv('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_수정/155900.csv', index_col=0)
test_df.head(2)

,date,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,시가총액,...,영업이익,법인세차감전 순이익,당기순이익,자본금,BPS,PER,PBR,EPS,DIV,DPS
0,2016-01-04,2810,2810,2790,2800,3317,9288020,-2.61,155900,42560011200,...,591200277.0,329090033.0,329090033.0,7.600002e+10,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-05,2800,2800,2790,2790,226,630770,-0.36,155900,42408011160,...,591200277.0,329090033.0,329090033.0,7.600002e+10,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
test_df = test_df[['date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액',
       '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS', 'month',
       'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
       '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금']]
test_df.head(2)

,date,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,시가총액,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전 순이익,당기순이익,자본금
0,2016-01-04,2810,2810,2790,2800,3317,9288020,-2.61,155900,42560011200,...,1.120676e+09,2314816099.0,3.435492e+09,NaN,3.737060e+10,2.966331e+09,591200277.0,329090033.0,329090033.0,7.600002e+10
1,2016-01-05,2800,2800,2790,2790,226,630770,-0.36,155900,42408011160,...,1.120676e+09,2314816099.0,3.435492e+09,NaN,3.737060e+10,2.966331e+09,591200277.0,329090033.0,329090033.0,7.600002e+10

In [257]:
files = os.listdir('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_last/')

In [259]:
len(files)

511

In [260]:
for file in files:
    col_df = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_last/{file}')
    col_df = col_df[['date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액',
       '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS', 'month',
       'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
       '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금']]
    col_df.to_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_last/{file}')

# 드디어 DB

In [6]:
import MySQLdb

db = MySQLdb.connect(host='localhost', port=3306, user='root', passwd = '1234')
cursor = db.cursor()

In [7]:
sql = 'show databases;'
pd.read_sql(sql, db)

              Database
0   information_schema
1            budongsan
2              chatbot
3            employees
4             falsk_db
5               fin_db
6                mysql
7   performance_schema
8               sakila
9               shopdb
10               sqlab
11               sqldb
12                 sys
13             tabledb
14               world

In [8]:
sql = 'use chatbot;'
cursor.execute(sql)

0

In [313]:
stock_df = pd.read_csv('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_last/000430.csv', index_col=0)

In [314]:
stock_df.columns

Index(['date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액',
       '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS', 'month',
       'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
       '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금'],
      dtype='object')

In [264]:
name_df = pd.read_csv('c:/Users/bitcamp/Desktop/final_data/kospi_목록_코드_종목코드.csv',index_col=0)

In [266]:
code_files = []
for code in files:
    code_files.append(code[:6])
# code_files

['000040',
 '000050',
 '000080',
 '000100',
 '000120',
 '000150',
 '000180',
 '000210',
 '000230',
 '000240',
 '000270',
 '000300',
 '000320',
 '000390',
 '000430',
 '000480',
 '000490',
 '000500',
 '000520',
 '000590',
 '000640',
 '000660',
 '000670',
 '000680',
 '000700',
 '000720',
 '000850',
 '000860',
 '000880',
 '000890',
 '000910',
 '000950',
 '000990',
 '001020',
 '001040',
 '001060',
 '001070',
 '001120',
 '001130',
 '001210',
 '001230',
 '001250',
 '001260',
 '001380',
 '001390',
 '001430',
 '001440',
 '001460',
 '001470',
 '001520',
 '001530',
 '001560',
 '001570',
 '001620',
 '001630',
 '001740',
 '001780',
 '001790',
 '001800',
 '001820',
 '001940',
 '002020',
 '002030',
 '002070',
 '002100',
 '002140',
 '002150',
 '002170',
 '002200',
 '002220',
 '002240',
 '002310',
 '002320',
 '002350',
 '002390',
 '002410',
 '002450',
 '002620',
 '002710',
 '002720',
 '002790',
 '002810',
 '002820',
 '002840',
 '002870',
 '002880',
 '002900',
 '002920',
 '002990',
 '003000',
 '003010',
 '003030',
 '003060',
 '003090',
 '003160',
 '003200',
 '003220',
 '003230',
 '003240',
 '003280',
 '003300',
 '003410',
 '003480',
 '003490',
 '003550',
 '003560',
 '003570',
 '003620',
 '003670',
 '003720',
 '003780',
 '003850',
 '003920',
 '003960',
 '004000',
 '004020',
 '004060',
 '004080',
 '004090',
 '004100',
 '004140',
 '004150',
 '004170',
 '004250',
 '004270',
 '004360',
 '004370',
 '004430',
 '004490',
 '004540',
 '004560',
 '004690',
 '004710',
 '004720',
 '004770',
 '004800',
 '004830',
 '004840',
 '004870',
 '004890',
 '004910',
 '004920',
 '004960',
 '004970',
 '004980',
 '005010',
 '005090',
 '005250',
 '005300',
 '005320',
 '005360',
 '005380',
 '005430',
 '005440',
 '005490',
 '005610',
 '005680',
 '005720',
 '005740',
 '005750',
 '005800',
 '005810',
 '005820',
 '005850',
 '005880',
 '005930',
 '005950',
 '005960',
 '006040',
 '006060',
 '006120',
 '006200',
 '006260',
 '006280',
 '006340',
 '006360',
 '006400',
 '006490',
 '006570',
 '006650',
 '006660',
 '006840',
 '006880',
 '006890',
 '006980',
 '007070',
 '007120',
 '007160',
 '007210',
 '007310',
 '007340',
 '007460',
 '007540',
 '007570',
 '007590',
 '007610',
 '007660',
 '007690',
 '007700',
 '007810',
 '007860',
 '007980',
 '008040',
 '008250',
 '008490',
 '008500',
 '008770',
 '008930',
 '008970',
 '009070',
 '009140',
 '009150',
 '009160',
 '009180',
 '009200',
 '009270',
 '009290',
 '009310',
 '009410',
 '009420',
 '009440',
 '009450',
 '009470',
 '009540',
 '009580',
 '009680',
 '009810',
 '009830',
 '009970',
 '010060',
 '010100',
 '010120',
 '010130',
 '010140',
 '010600',
 '010620',
 '010690',
 '010770',
 '010780',
 '010950',
 '010960',
 '011000',
 '011070',
 '011090',
 '011170',
 '011200',
 '011210',
 '011230',
 '011280',
 '011300',
 '011330',
 '011390',
 '011690',
 '011700',
 '011760',
 '011780',
 '011790',
 '011810',
 '011930',
 '012030',
 '012160',
 '012170',
 '012200',
 '012330',
 '012450',
 '012510',
 '012600',
 '012610',
 '012630',
 '012750',
 '012800',
 '013000',
 '013360',
 '013520',
 '013570',
 '013580',
 '013870',
 '014130',
 '014280',
 '014440',
 '014530',
 '014580',
 '014680',
 '014820',
 '014830',
 '014910',
 '014990',
 '015230',
 '015260',
 '015360',
 '015540',
 '015760',
 '015890',
 '016380',
 '016450',
 '016590',
 '016710',
 '016880',
 '017040',
 '017180',
 '017370',
 '017390',
 '017550',
 '017670',
 '017800',
 '017810',
 '017900',
 '017940',
 '017960',
 '018260',
 '018670',
 '018880',
 '019170',
 '019180',
 '019440',
 '019680',
 '020000',
 '020150',
 '020560',
 '021050',
 '021240',
 '023150',
 '023530',
 '023590',
 '023800',
 '023810',
 '024070',
 '024720',
 '024890',
 '024900',
 '025000',
 '025530',
 '025540',
 '025560',
 '025620',
 '025750',
 '026960',
 '027410',
 '027740',
 '028050',
 '028100',
 '028260',
 '028670',
 '029460',
 '029530',
 '030000',
 '030200',
 '030720',
 '030790',
 '031430',
 '031440',
 '031820',
 '032350',
 '032560',
 '032640',
 '033180',
 '033240',
 '033530',
 '033780',
 '033920',
 '034020',
 '034120',
 '034220',
 '034310',
 '034730',
 '035000',
 '035150',
 '035250',
 '035420',
 '035720',
 '036420',
 '036460',
 '036530',
 '036570',
 '036580',
 '037270',
 '039130',
 '039570',
 '041650',
 '042660',
 '042670',
 '042700',
 '044380',
 '044450',
 '044820',
 '047040',
 '047050',
 '047400',
 '047810',
 '049770',
 '049800',
 '051600',
 '051900',
 '051910',
 '053210',
 '053690',
 '057050',
 '058430',
 '058650',
 '058730',
 '058850',
 '060980',
 '064350',
 '064960',
 '066570',
 '067830',
 '068270',
 '068290',
 '068400',
 '069260',
 '069620',
 '069640',
 '069960',
 '071090',
 '071950',
 '071970',
 '072130',
 '072710',
 '073240',
 '074610',
 '075180',
 '075580',
 '077500',
 '077970',
 '078000',
 '078520',
 '079160',
 '079430',
 '079550',
 '081000',
 '081660',
 '082740',
 '084010',
 '084670',
 '084690',
 '085310',
 '086280',
 '088790',
 '089470',
 '089590',
 '090080',
 '090350',
 '090370',
 '090430',
 '091090',
 '092200',
 '092220',
 '092230',
 '093050',
 '093370',
 '094280',
 '095570',
 '095720',
 '096760',
 '096770',
 '097230',
 '097520',
 '097950',
 '100220',
 '100250',
 '101530',
 '102260',
 '102280',
 '102460',
 '103590',
 '105630',
 '105840',
 '108670',
 '109070',
 '111770',
 '112610',
 '115390',
 '119650',
 '120110',
 '122900',
 '123690',
 '123700',
 '126560',
 '128820',
 '128940',
 '129260',
 '130660',
 '136490',
 '138490',
 '139480',
 '145210',
 '145990',
 '155660',
 '155900',
 '161000',
 '161390',
 '163560',
 '170900',
 '180640',
 '183190',
 '185750',
 '192080',
 '192400',
 '192820',
 '194370',
 '200880',
 '204320',
 '210540',
 '210980',
 '213500',
 '214320',
 '214330',
 '214420',
 '226320',
 '227840',
 '900140']

In [272]:
name_df['stock_code'] = name_df['stock_code'].apply(lambda x:str(x).zfill(6))

In [273]:
name_df.head(2)

   corp_code corp_name stock_code
0     960641     한국패러랠     168490
1     600013    맵스리얼티1     094800

In [287]:
str(name_df[name_df['stock_code'] == '011150']['corp_name'].values)[2:-2]

'CJ씨푸드'

In [311]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1534 entries, 0 to 1533
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1534 non-null   object
 1   시가          1534 non-null   int64
 2   고가          1534 non-null   int64
 3   저가          1534 non-null   int64
 4   종가          1534 non-null   int64
 5   거래량         1534 non-null   int64
 6   거래대금        1534 non-null   int64
 7   등락률         1534 non-null   float64
 8   종목명         1534 non-null   int64
 9   시가총액        1534 non-null   int64
 10  상장주식수       1534 non-null   int64
 11  수정종가        1534 non-null   int64
 12  BPS         1534 non-null   int64
 13  PER         1534 non-null   float64
 14  PBR         1534 non-null   float64
 15  EPS         1534 non-null   int64
 16  DIV         1534 non-null   float64
 17  DPS         1534 non-null   int64
 18  month       1534 non-null   object
 19  quarter     1534 non-null   object
 20  유동자산        1534 non-null   float64
 21  비유동자산       1534 non-null   float64
 22  자산총계        1534 non-null   float64
 23  유동부채        1534 non-null   float64
 24  비유동부채       1534 non-null   float64
 25  부채총계        1534 non-null   float64
 26  이익잉여금       1534 non-null   float64
 27  자본총계        1534 non-null   float64
 28  매출액         1534 non-null   float64
 29  영업이익        1534 non-null   float64
 30  법인세차감전 순이익  1534 non-null   float64
 31  당기순이익       1534 non-null   float64
 32  자본금         1166 non-null   float64
dtypes: float64(17), int64(13), object(3)
memory usage: 407.5+ KB

In [342]:
sql = """
create table test_4(
code char(6),
name char(10),
날짜 date,
시가 varchar(50),
고가 varchar(50),
저가 varchar(50),
종가 varchar(50),
거래량 varchar(50),
거래대금 varchar(50),
등락률 varchar(50),
시가총액 varchar(50),
상장주식수 varchar(50),
수정종가 varchar(50),
BPS varchar(50),
PER varchar(50),
PBR varchar(50),
EPS varchar(50),
DIV_ varchar(50),
DPS varchar(50),
quarter char(10),
유동자산 varchar(50),
비유동자산 varchar(50),
자산총계 varchar(50),
유동부채 varchar(50),
비유동부채 varchar(50),
부채총계 varchar(50),
이익잉여금 varchar(50),
자본총계 varchar(50),
매출액 varchar(50),
영업이익 varchar(50),
법인세차감전_순이익 varchar(50),
당기순이익 varchar(50),
자본금 varchar(50)
)
"""

cursor.execute(sql)

0

In [343]:
# ['date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액',
#        '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS', 'month',
#        'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
#        '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금']

code = '000430'

for i in range(len(stock_df)):
    
    code = code
    name = str(name_df[name_df['stock_code'] == code]['corp_name'].values)[2:-2]
    date = stock_df.iloc[i,0]
    시가 = stock_df.iloc[i,1]
    고가 = stock_df.iloc[i,2]
    저가 = stock_df.iloc[i,3]
    종가 = stock_df.iloc[i,4]
    거래량 = stock_df.iloc[i,5]
    거래대금 = stock_df.iloc[i,6]
    등락률 = stock_df.iloc[i,7]
    시가총액 = stock_df.iloc[i,9]
    상장주식수 = stock_df.iloc[i,10]
    수정종가 = stock_df.iloc[i,11]
    BPS = stock_df.iloc[i,12]
    PER = stock_df.iloc[i,13]
    PBR = stock_df.iloc[i,14]
    EPS = stock_df.iloc[i,15]
    DIV = stock_df.iloc[i,16]
    DPS = stock_df.iloc[i,17]
    quarter = stock_df.iloc[i,19]
    유동자산 = stock_df.iloc[i,20]
    비유동자산 = stock_df.iloc[i,21]
    자산총계 = stock_df.iloc[i,22]
    유동부채 = stock_df.iloc[i,23]
    비유동부채 = stock_df.iloc[i,24]
    부채총계 = stock_df.iloc[i,25]
    이익잉여금 = stock_df.iloc[i,26]
    자본총계 = stock_df.iloc[i,27]
    매출액 = stock_df.iloc[i,28]
    영업이익 = stock_df.iloc[i,29]
    법인세차감전_순이익 = stock_df.iloc[i,30]
    당기순이익 = stock_df.iloc[i,31]
    자본금 = stock_df.iloc[i,32]

    sql = """
    insert into test_4 values('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}',
    '{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}');
    """.format(code, name, date, 시가, 고가, 저가, 종가, 거래량, 거래대금, 등락률, 시가총액, 상장주식수, 수정종가, BPS, PER, PBR,
              EPS, DIV, DPS, quarter, 유동자산, 비유동자산, 자산총계, 유동부채, 비유동부채, 부채총계, 이익잉여금, 자본총계, 매출액,
              영업이익, 법인세차감전_순이익, 당기순이익, 자본금)

    cursor.execute(sql)

In [338]:
stock_df.iloc[1,:]

date               2016-01-05
시가                       4860
고가                       4905
저가                       4815
종가                       4905
거래량                     19285
거래대금                 93599965
등락률                      1.76
종목명                       430
시가총액             304110000000
상장주식수                62000000
수정종가                     4905
BPS                      6698
PER                     24.53
PBR                      0.73
EPS                       200
DIV                      2.45
DPS                       120
month                 2016-01
quarter                2016-1
유동자산           395104951665.0
비유동자산          776880859889.0
자산총계          1171985811554.0
유동부채           510665993022.0
비유동부채          153510656685.0
부채총계           664176649707.0
이익잉여금          368427354696.0
자본총계           507809161847.0
매출액            258555762391.0
영업이익            12127801310.0
법인세차감전 순이익      10181746705.0
당기순이익            8268939650.0
자본금                       NaN
Name: 1, dtype: object

# Test

In [325]:
stock_df['quarter'].isna().sum()

0

In [331]:
test_df = stock_df[:10]

In [337]:
test_df

,date,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,시가총액,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전 순이익,당기순이익,자본금
0,2016-01-04,4855,4865,4770,4820,23672,114461375,-0.41,430,298840000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
1,2016-01-05,4860,4905,4815,4905,19285,93599965,1.76,430,304110000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
2,2016-01-06,4910,4910,4810,4885,14438,70523310,-0.41,430,302870000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
3,2016-01-07,4885,4900,4655,4820,7886,37794285,-1.33,430,298840000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
4,2016-01-08,4820,4830,4765,4815,8210,39408625,-0.10,430,298530000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
5,2016-01-11,4850,4850,4715,4715,19714,93452170,-2.08,430,292330000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
6,2016-01-12,4715,4745,4670,4670,11713,55092400,-0.95,430,289540000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
7,2016-01-13,4725,4725,4650,4690,5882,27441000,0.43,430,290780000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
8,2016-01-14,4690,4700,4645,4680,8592,40153400,-0.21,430,290160000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN
9,2016-01-15,4790,4790,4700,4720,521,2461530,0.85,430,292640000000,...,5.106660e+11,1.535107e+11,6.641766e+11,3.684274e+11,5.078092e+11,2.585558e+11,1.212780e+10,1.018175e+10,8.268940e+09,NaN

In [333]:
# ['date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액',
#        '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS', 'month',
#        'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
#        '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금']

code = '000430'

for i in range(len(test_df)):
    
    code = code
    name = str(name_df[name_df['stock_code'] == code]['corp_name'].values)[2:-2]
    date = test_df.iloc[i,0]
    시가 = test_df.iloc[i,1]
    고가 = test_df.iloc[i,2]
    저가 = test_df.iloc[i,3]
    종가 = test_df.iloc[i,4]
    거래량 = test_df.iloc[i,5]
    거래대금 = test_df.iloc[i,6]
    등락률 = test_df.iloc[i,7]
    시가총액 = test_df.iloc[i,9]
    상장주식수 = test_df.iloc[i,10]
    수정종가 = test_df.iloc[i,11]
    BPS = test_df.iloc[i,12]
    PER = test_df.iloc[i,13]
    PBR = test_df.iloc[i,14]
    EPS = test_df.iloc[i,15]
    DIV = test_df.iloc[i,16]
    DPS = test_df.iloc[i,17]
    quarter = test_df.iloc[i,19]
    유동자산 = test_df.iloc[i,20]
    비유동자산 = test_df.iloc[i,21]
    자산총계 = test_df.iloc[i,22]
    유동부채 = test_df.iloc[i,23]
    비유동부채 = test_df.iloc[i,24]
    부채총계 = test_df.iloc[i,25]
    이익잉여금 = test_df.iloc[i,26]
    자본총계 = test_df.iloc[i,27]
    매출액 = test_df.iloc[i,28]
    영업이익 = test_df.iloc[i,29]
    법인세차감전_순이익 = test_df.iloc[i,30]
    당기순이익 = test_df.iloc[i,31]
    자본금 = test_df.iloc[i,32]

    sql = """
    insert into test_2 values('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}',
    '{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}');
    """.format(code, name, date, 시가, 고가, 저가, 종가, 거래량, 거래대금, 등락률, 시가총액, 상장주식수, 수정종가, BPS, PER, PBR,
              EPS, DIV, DPS, quarter, 유동자산, 비유동자산, 자산총계, 유동부채, 비유동부채, 부채총계, 이익잉여금, 자본총계, 매출액,
              영업이익, 법인세차감전_순이익, 당기순이익, 자본금)

    cursor.execute(sql)

DataError: (1265, "Data truncated for column 'quarter' at row 1")

In [344]:
sql = 'select * from test_4;'

stock = pd.read_sql(sql, db)
stock

,code,name,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전_순이익,당기순이익,자본금
0,000430,대원강업,2016-01-04,4855,4865,4770,4820,23672,114461375,-0.41,...,510665993022.0,153510656685.0,664176649707.0,368427354696.0,507809161847.0,258555762391.0,12127801310.0,10181746705.0,8268939650.0,nan
1,000430,대원강업,2016-01-05,4860,4905,4815,4905,19285,93599965,1.76,...,510665993022.0,153510656685.0,664176649707.0,368427354696.0,507809161847.0,258555762391.0,12127801310.0,10181746705.0,8268939650.0,nan
2,000430,대원강업,2016-01-06,4910,4910,4810,4885,14438,70523310,-0.41,...,510665993022.0,153510656685.0,664176649707.0,368427354696.0,507809161847.0,258555762391.0,12127801310.0,10181746705.0,8268939650.0,nan
3,000430,대원강업,2016-01-07,4885,4900,4655,4820,7886,37794285,-1.33,...,510665993022.0,153510656685.0,664176649707.0,368427354696.0,507809161847.0,258555762391.0,12127801310.0,10181746705.0,8268939650.0,nan
4,000430,대원강업,2016-01-08,4820,4830,4765,4815,8210,39408625,-0.1,...,510665993022.0,153510656685.0,664176649707.0,368427354696.0,507809161847.0,258555762391.0,12127801310.0,10181746705.0,8268939650.0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,000430,대원강업,2022-03-25,3195,3210,3155,3175,40634,128924745,-0.63,...,363508878617.0,53746795884.0,417255674501.0,410088615675.0,568563315628.0,234182377795.0,3149378757.0,3357756185.0,663261029.0,31000000000.0
1530,000430,대원강업,2022-03-28,3175,3180,3145,3160,26961,85138030,-0.47,...,363508878617.0,53746795884.0,417255674501.0,410088615675.0,568563315628.0,234182377795.0,3149378757.0,3357756185.0,663261029.0,31000000000.0
1531,000430,대원강업,2022-03-29,3160,3200,3155,3190,29078,92452775,0.95,...,363508878617.0,53746795884.0,417255674501.0,410088615675.0,568563315628.0,234182377795.0,3149378757.0,3357756185.0,663261029.0,31000000000.0
1532,000430,대원강업,2022-03-30,3190,3275,3190,3215,85766,276060615,0.78,...,363508878617.0,53746795884.0,417255674501.0,410088615675.0,568563315628.0,234182377795.0,3149378757.0,3357756185.0,663261029.0,31000000000.0
1533,000430,대원강업,2022-03-31,3210,3235,3200,3205,34090,109608580,-0.31,...,363508878617.0,53746795884.0,417255674501.0,410088615675.0,568563315628.0,234182377795.0,3149378757.0,3357756185.0,663261029.0,31000000000.0

In [336]:
stock

Index(['code', 'name'], dtype='object')

In [299]:
sql = """
create table yayabal(
code char(6),
name char(10)
)
"""

cursor.execute(sql)

0

In [308]:
code = '005930'
name = np.nan

sql = """ insert into yayabal values('{}', '{}');
""".format(code, name)
cursor.execute(sql)

1

In [309]:
sql = 'select * from yayabal;'

stock = pd.read_sql(sql, db)
stock

     code  name
0  005930  삼성전자
1  005930   nan

# 이번엔 제발 진짜 DB

In [8]:
files_li = os.listdir('c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_last/')
# files_li

In [9]:
name_df = pd.read_csv('c:/Users/bitcamp/Desktop/final_data/kospi_목록_코드_종목코드.csv', index_col=0)
name_df['stock_code'] = name_df['stock_code'].apply(lambda x:str(x).zfill(6))
# name_df

In [346]:
sql = """
create table if not exists stock_table(
code char(6),
name char(10),
날짜 date,
시가 varchar(50),
고가 varchar(50),
저가 varchar(50),
종가 varchar(50),
거래량 varchar(50),
거래대금 varchar(50),
등락률 varchar(50),
시가총액 varchar(50),
상장주식수 varchar(50),
수정종가 varchar(50),
BPS varchar(50),
PER varchar(50),
PBR varchar(50),
EPS varchar(50),
DIV_ varchar(50),
DPS varchar(50),
quarter char(10),
유동자산 varchar(50),
비유동자산 varchar(50),
자산총계 varchar(50),
유동부채 varchar(50),
비유동부채 varchar(50),
부채총계 varchar(50),
이익잉여금 varchar(50),
자본총계 varchar(50),
매출액 varchar(50),
영업이익 varchar(50),
법인세차감전_순이익 varchar(50),
당기순이익 varchar(50),
자본금 varchar(50)
)
"""

cursor.execute(sql)

0

In [10]:
# ['date', '시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액',
#        '상장주식수', '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS', 'month',
#        'quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
#        '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금']
ok_li = []

for file in files_li:
#     print(file[:6])
    stock_df = pd.read_csv(f'c:/Users/bitcamp/Desktop/final_data/DB/재무+주가_511_last/{file}', index_col=0)
    code = file[:6]

    for i in range(len(stock_df)):

        code = code
        name = str(name_df[name_df['stock_code'] == code]['corp_name'].values)[2:-2]
        date = stock_df.iloc[i,0]
        시가 = stock_df.iloc[i,1]
        고가 = stock_df.iloc[i,2]
        저가 = stock_df.iloc[i,3]
        종가 = stock_df.iloc[i,4]
        거래량 = stock_df.iloc[i,5]
        거래대금 = stock_df.iloc[i,6]
        등락률 = stock_df.iloc[i,7]
        시가총액 = stock_df.iloc[i,9]
        상장주식수 = stock_df.iloc[i,10]
        수정종가 = stock_df.iloc[i,11]
        BPS = stock_df.iloc[i,12]
        PER = stock_df.iloc[i,13]
        PBR = stock_df.iloc[i,14]
        EPS = stock_df.iloc[i,15]
        DIV = stock_df.iloc[i,16]
        DPS = stock_df.iloc[i,17]
        quarter = stock_df.iloc[i,19]
        유동자산 = stock_df.iloc[i,20]
        비유동자산 = stock_df.iloc[i,21]
        자산총계 = stock_df.iloc[i,22]
        유동부채 = stock_df.iloc[i,23]
        비유동부채 = stock_df.iloc[i,24]
        부채총계 = stock_df.iloc[i,25]
        이익잉여금 = stock_df.iloc[i,26]
        자본총계 = stock_df.iloc[i,27]
        매출액 = stock_df.iloc[i,28]
        영업이익 = stock_df.iloc[i,29]
        법인세차감전_순이익 = stock_df.iloc[i,30]
        당기순이익 = stock_df.iloc[i,31]
        자본금 = stock_df.iloc[i,32]

        sql = """
        insert into stock_table values('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}',
        '{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}');
        """.format(code, name, date, 시가, 고가, 저가, 종가, 거래량, 거래대금, 등락률, 시가총액, 상장주식수, 수정종가, BPS, PER, PBR,
                  EPS, DIV, DPS, quarter, 유동자산, 비유동자산, 자산총계, 유동부채, 비유동부채, 부채총계, 이익잉여금, 자본총계, 매출액,
                  영업이익, 법인세차감전_순이익, 당기순이익, 자본금)

        cursor.execute(sql)
    print(file)
    ok_li.append(code)

000040.csv
000050.csv
000080.csv
000100.csv
000120.csv
000150.csv
000180.csv
000210.csv
000230.csv
000240.csv
000270.csv
000300.csv
000320.csv
000390.csv
000430.csv
000480.csv
000490.csv
000500.csv
000520.csv
000590.csv
000640.csv
000660.csv
000670.csv
000680.csv
000700.csv
000720.csv
000850.csv
000860.csv
000880.csv
000890.csv
000910.csv
000950.csv
000990.csv
001020.csv
001040.csv
001060.csv
001070.csv
001120.csv
001130.csv
001210.csv
001230.csv
001250.csv
001260.csv
001380.csv
001390.csv
001430.csv
001440.csv
001460.csv
001470.csv
001520.csv
001530.csv
001560.csv
001570.csv
001620.csv
001630.csv
001740.csv
001780.csv
001790.csv
001800.csv
001820.csv
001940.csv
002020.csv
002030.csv
002070.csv
002100.csv
002140.csv
002150.csv
002170.csv
002200.csv
002220.csv
002240.csv
002310.csv
002320.csv
002350.csv
002390.csv
002410.csv
002450.csv
002620.csv
002710.csv
002720.csv
002790.csv
002810.csv
002820.csv
002840.csv
002870.csv
002880.csv
002900.csv
002920.csv
002990.csv
003000.csv
003010.csv
003030.csv
003060.csv
003090.csv
003160.csv
003200.csv
003220.csv
003230.csv
003240.csv
003280.csv
003300.csv
003410.csv
003480.csv
003490.csv
003550.csv
003560.csv
003570.csv
003620.csv
003670.csv
003720.csv
003780.csv
003850.csv
003920.csv
003960.csv
004000.csv
004020.csv
004060.csv
004080.csv
004090.csv
004100.csv
004140.csv
004150.csv
004170.csv
004250.csv
004270.csv
004360.csv
004370.csv
004430.csv
004490.csv
004540.csv
004560.csv
004690.csv
004710.csv
004720.csv
004770.csv
004800.csv
004830.csv
004840.csv
004870.csv
004890.csv
004910.csv
004920.csv
004960.csv
004970.csv
004980.csv
005010.csv
005090.csv
005250.csv
005300.csv
005320.csv
005360.csv
005380.csv
005430.csv
005440.csv
005490.csv
005610.csv
005680.csv
005720.csv
005740.csv
005750.csv
005800.csv
005810.csv
005820.csv
005850.csv
005880.csv
005930.csv
005950.csv
005960.csv
006040.csv
006060.csv
006120.csv
006200.csv
006260.csv
006280.csv
006340.csv
006360.csv
006400.csv
006490.csv
006570.csv
006650.csv
006660.csv
006840.csv
006880.csv
006890.csv
006980.csv
007070.csv
007120.csv
007160.csv
007210.csv
007310.csv
007340.csv
007460.csv
007540.csv
007570.csv
007590.csv
007610.csv
007660.csv
007690.csv
007700.csv
007810.csv
007860.csv
007980.csv
008040.csv
008250.csv
008490.csv
008500.csv
008770.csv
008930.csv
008970.csv
009070.csv
009140.csv
009150.csv
009160.csv
009180.csv
009200.csv
009270.csv
009290.csv
009310.csv
009410.csv
009420.csv
009440.csv
009450.csv
009470.csv
009540.csv
009580.csv
009680.csv
009810.csv
009830.csv
009970.csv
010060.csv
010100.csv
010120.csv
010130.csv
010140.csv
010600.csv
010620.csv
010690.csv
010770.csv
010780.csv
010950.csv
010960.csv
011000.csv
011070.csv
011090.csv
011170.csv
011200.csv
011210.csv
011230.csv
011280.csv
011300.csv
011330.csv
011390.csv
011690.csv
011700.csv
011760.csv
011780.csv
011790.csv
011810.csv
011930.csv
012030.csv
012160.csv
012170.csv
012200.csv
012330.csv
012450.csv
012510.csv
012600.csv
012610.csv
012630.csv
012750.csv
012800.csv
013000.csv
013360.csv
013520.csv
013570.csv
013580.csv
013870.csv
014130.csv
014280.csv
014440.csv
014530.csv
014580.csv
014680.csv
014820.csv
014830.csv
014910.csv
014990.csv
015230.csv
015260.csv
015360.csv
015540.csv
015760.csv
015890.csv
016380.csv
016450.csv
016590.csv
016710.csv
016880.csv
017040.csv
017180.csv
017370.csv
017390.csv
017550.csv
017670.csv
017800.csv
017810.csv
017900.csv
017940.csv
017960.csv
018260.csv
018670.csv
018880.csv
019170.csv
019180.csv
019440.csv
019680.csv
020000.csv
020150.csv
020560.csv
021050.csv
021240.csv
023150.csv
023530.csv
023590.csv
023800.csv
023810.csv
024070.csv
024720.csv
024890.csv
024900.csv
025000.csv
025530.csv
025540.csv
025560.csv
025620.csv
025750.csv
026960.csv
027410.csv
027740.csv
028050.csv
028100.csv
028260.csv
028670.csv
029460.csv
029530.csv
030000.csv
030200.csv
030720.csv
030790.csv
031430.csv
031440.csv
031820.csv
032350.csv
032560.csv
032640.csv
033180.csv
033240.csv
033530.csv
033780.csv
033920.csv
034020.csv
034120.csv
034220.csv
034310.csv
034730.csv
035000.csv
035150.csv
035250.csv
035420.csv
035720.csv
036420.csv
036460.csv
036530.csv
036570.csv
036580.csv
037270.csv
039130.csv
039570.csv
041650.csv
042660.csv
042670.csv
042700.csv
044380.csv
044450.csv
044820.csv
047040.csv
047050.csv
047400.csv
047810.csv
049770.csv
049800.csv
051600.csv
051900.csv
051910.csv
053210.csv
053690.csv
057050.csv
058430.csv
058650.csv
058730.csv
058850.csv
060980.csv
064350.csv
064960.csv
066570.csv
067830.csv
068270.csv
068290.csv
068400.csv
069260.csv
069620.csv
069640.csv
069960.csv
071090.csv
071950.csv
071970.csv
072130.csv
072710.csv
073240.csv
074610.csv
075180.csv
075580.csv
077500.csv
077970.csv
078000.csv
078520.csv
079160.csv
079430.csv
079550.csv
081000.csv
081660.csv
082740.csv
084010.csv
084670.csv
084690.csv
085310.csv
086280.csv
088790.csv
089470.csv
089590.csv
090080.csv
090350.csv
090370.csv
090430.csv
091090.csv
092200.csv
092220.csv
092230.csv
093050.csv
093370.csv
094280.csv
095570.csv
095720.csv
096760.csv
096770.csv
097230.csv
097520.csv
097950.csv
100220.csv
100250.csv
101530.csv
102260.csv
102280.csv
102460.csv
103590.csv
105630.csv
105840.csv
108670.csv
109070.csv
111770.csv
112610.csv
115390.csv
119650.csv
120110.csv
122900.csv
123690.csv
123700.csv
126560.csv
128820.csv
128940.csv
129260.csv
130660.csv
136490.csv
138490.csv
139480.csv
145210.csv
145990.csv
155660.csv
155900.csv
161000.csv

DataError: (1406, "Data too long for column 'name' at row 1")

In [11]:
db.commit()

In [12]:
sql = 'select * from stock_table;'

stock = pd.read_sql(sql, db)
stock

,code,name,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전_순이익,당기순이익,자본금
0,000040,KR모터스,2016-01-04,1295,1325,1255,1305,6053163,7839874495,2.76,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
1,000040,KR모터스,2016-01-05,1285,1350,1280,1310,9674168,12787405175,0.38,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
2,000040,KR모터스,2016-01-06,1320,1325,1205,1260,5368790,6871631090,-3.82,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
3,000040,KR모터스,2016-01-07,1265,1280,1210,1230,2538804,3132011390,-2.38,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
4,000040,KR모터스,2016-01-08,1200,1255,1155,1235,2977602,3568370425,0.41,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751572,161000,애경케미칼,2022-03-25,10650,10750,10400,10500,121781,1281986650,-1.41,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0
751573,161000,애경케미칼,2022-03-28,10500,10550,10350,10400,143039,1494235350,-0.95,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0
751574,161000,애경케미칼,2022-03-29,10500,10650,10450,10600,114618,1210888950,1.92,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0
751575,161000,애경케미칼,2022-03-30,10700,10700,10400,10400,121660,1274893150,-1.89,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0
751576,161000,애경케미칼,2022-03-31,10400,10600,10350,10500,94771,992159050,0.96,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0

In [359]:
stock[stock['자본금'] == 'nan']

,code,name,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전_순이익,당기순이익,자본금
1534,000050,경방,2016-01-04,187500,191000,180000,180000,3307,602364500,-6.49,...,190458386993.0,467406068560.0,657864455553.0,650249793226.0,662563977436.0,91304041420.0,7185874454.0,4484738981.0,3085989034.0,nan
1535,000050,경방,2016-01-05,180000,186500,175500,182500,1004,183654000,1.39,...,190458386993.0,467406068560.0,657864455553.0,650249793226.0,662563977436.0,91304041420.0,7185874454.0,4484738981.0,3085989034.0,nan
1536,000050,경방,2016-01-06,178000,186500,177000,185500,1167,212973500,1.64,...,190458386993.0,467406068560.0,657864455553.0,650249793226.0,662563977436.0,91304041420.0,7185874454.0,4484738981.0,3085989034.0,nan
1537,000050,경방,2016-01-07,189500,189500,182500,184500,543,100379000,-0.54,...,190458386993.0,467406068560.0,657864455553.0,650249793226.0,662563977436.0,91304041420.0,7185874454.0,4484738981.0,3085989034.0,nan
1538,000050,경방,2016-01-08,197000,197000,181500,188500,901,168230500,2.17,...,190458386993.0,467406068560.0,657864455553.0,650249793226.0,662563977436.0,91304041420.0,7185874454.0,4484738981.0,3085989034.0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750406,161000,애경케미칼,2017-06-26,16100,16500,15850,16050,205688,3318432750,0.0,...,153000477921.0,8716922319.0,161717400240.0,144666267323.0,266493971512.0,-6178110718.0,709668427.0,767131539.0,464285976.0,nan
750407,161000,애경케미칼,2017-06-27,16250,16250,15850,16000,112397,1794127950,-0.31,...,153000477921.0,8716922319.0,161717400240.0,144666267323.0,266493971512.0,-6178110718.0,709668427.0,767131539.0,464285976.0,nan
750408,161000,애경케미칼,2017-06-28,15900,16300,15700,15800,156749,2492334050,-1.25,...,153000477921.0,8716922319.0,161717400240.0,144666267323.0,266493971512.0,-6178110718.0,709668427.0,767131539.0,464285976.0,nan
750409,161000,애경케미칼,2017-06-29,15900,16100,15650,15700,128107,2027003150,-0.63,...,153000477921.0,8716922319.0,161717400240.0,144666267323.0,266493971512.0,-6178110718.0,709668427.0,767131539.0,464285976.0,nan
750410,161000,애경케미칼,2017-06-30,15650,15900,15500,15700,114550,1797136050,0.0,...,153000477921.0,8716922319.0,161717400240.0,144666267323.0,266493971512.0,-6178110718.0,709668427.0,767131539.0,464285976.0,nan

# 에이 왜그래 장난치지마

In [2]:
import MySQLdb

db = MySQLdb.connect(host='localhost', port=3306, user='root', passwd = '1234')
cursor = db.cursor()

In [3]:
sql = 'show databases;'
pd.read_sql(sql, db)

              Database
0   information_schema
1            budongsan
2              chatbot
3            employees
4             falsk_db
5               fin_db
6                mysql
7   performance_schema
8               sakila
9               shopdb
10               sqlab
11               sqldb
12                 sys
13             tabledb
14               world

In [4]:
sql = 'use chatbot;'
cursor.execute(sql)

0

In [5]:
sql = 'select * from stock_table;'

stock = pd.read_sql(sql, db)
stock

,code,name,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전_순이익,당기순이익,자본금
0,000040,KR모터스,2016-01-04,1295,1325,1255,1305,6053163,7839874495,2.76,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
1,000040,KR모터스,2016-01-05,1285,1350,1280,1310,9674168,12787405175,0.38,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
2,000040,KR모터스,2016-01-06,1320,1325,1205,1260,5368790,6871631090,-3.82,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
3,000040,KR모터스,2016-01-07,1265,1280,1210,1230,2538804,3132011390,-2.38,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
4,000040,KR모터스,2016-01-08,1200,1255,1155,1235,2977602,3568370425,0.41,...,66208358763.0,14667697547.0,80876056310.0,-31862282726.0,65020349702.0,19790407579.0,-2729799243.0,-3476060545.0,-3476060545.0,87653882000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751572,161000,애경케미칼,2022-03-25,10650,10750,10400,10500,121781,1281986650,-1.41,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0
751573,161000,애경케미칼,2022-03-28,10500,10550,10350,10400,143039,1494235350,-0.95,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0
751574,161000,애경케미칼,2022-03-29,10500,10650,10450,10600,114618,1210888950,1.92,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0
751575,161000,애경케미칼,2022-03-30,10700,10700,10400,10400,121660,1274893150,-1.89,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0
751576,161000,애경케미칼,2022-03-31,10400,10600,10350,10500,94771,992159050,0.96,...,583939454107.0,49760563548.0,633700017655.0,325102873344.0,681545998417.0,532812977945.0,26186132737.0,26720390580.0,18095457028.0,24324354500.0

In [23]:
stock[stock.code == '000390']

,code,name,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전_순이익,당기순이익,자본금
19942,000390,삼화페인트공업,2016-01-04,12700,12750,12100,12100,65461,806948300,-4.72,...,163498219243,101141463131,264639682374,269608702897,276750962918,103638790432,3988966170,3101460757,2452269233,11384769500
19943,000390,삼화페인트공업,2016-01-05,12150,12450,12050,12300,74484,914948400,1.65,...,163498219243,101141463131,264639682374,269608702897,276750962918,103638790432,3988966170,3101460757,2452269233,11384769500
19944,000390,삼화페인트공업,2016-01-06,12350,12500,11800,12200,84893,1018628650,-0.81,...,163498219243,101141463131,264639682374,269608702897,276750962918,103638790432,3988966170,3101460757,2452269233,11384769500
19945,000390,삼화페인트공업,2016-01-07,12100,12250,11650,11650,112240,1329532500,-4.51,...,163498219243,101141463131,264639682374,269608702897,276750962918,103638790432,3988966170,3101460757,2452269233,11384769500
19946,000390,삼화페인트공업,2016-01-08,11450,12050,11400,12000,67575,793022400,3.0,...,163498219243,101141463131,264639682374,269608702897,276750962918,103638790432,3988966170,3101460757,2452269233,11384769500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21471,000390,삼화페인트공업,2022-03-25,9920,10000,9800,9860,50305,496114280,-0.9,...,251733468039,90236680279,341970148318,269536363665,295463107743,149577216567,2301434292,1279945938,960767982,13601734500
21472,000390,삼화페인트공업,2022-03-28,9940,10400,9940,10050,151502,1538769290,1.93,...,251733468039,90236680279,341970148318,269536363665,295463107743,149577216567,2301434292,1279945938,960767982,13601734500
21473,000390,삼화페인트공업,2022-03-29,10150,11600,10050,10900,2361089,25877506450,8.46,...,251733468039,90236680279,341970148318,269536363665,295463107743,149577216567,2301434292,1279945938,960767982,13601734500
21474,000390,삼화페인트공업,2022-03-30,11000,11050,10450,10550,467081,5005192050,-3.21,...,251733468039,90236680279,341970148318,269536363665,295463107743,149577216567,2301434292,1279945938,960767982,13601734500
21475,000390,삼화페인트공업,2022-03-31,10550,10800,10400,10750,157516,1680093500,1.9,...,251733468039,90236680279,341970148318,269536363665,295463107743,149577216567,2301434292,1279945938,960767982,13601734500